.button {
  width: 100%;
  padding: 12px;
  margin-top: 22px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 800;
  transition: $transition-basic;
}

.button--white-orange {
  background: white;
  color: $color-orange-light;
}
