.accueil-offre-bandeau {
  position: relative;
  overflow: hidden;
  height: 16vh;
  background: $color-orange-extra-light;
  text-align: center;

  @media (max-width: $lg-break) {
    height: auto;
    padding: 75px 25px;
  }

  .accueil-offre-bandeau-logo {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .accueil-offre-bandeau-title {
    color: $color-orange-light;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .accueil-offre-bandeau-text {
    font-size: 20px;
    line-height: 30px;
    color: $color-black;

    .price {
      font-size: 30px;
      line-height: 40px;
      font-weight: 900;
    }
  }
}
